<?xml version="1.0" encoding="UTF-8"?>  

 <widget xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gap="http://phonegap.com/ns/1.0"
  id="com.phonegap.example5"
  version="1.0.0">
  
  <name> app8 Juntar aplicaciones  4.5 7  </name>
  
  <description>
  Aplicacion que juntas apliaciones
  </description>
  
  <author href="https://build.phonegap.com" email="lunayazmin33@gmail.com">
 Yazmin Luna Castellanos 4e
  </author>
  
  <!--perzonaliza la aplicacion y plataforma-->
  <preference name="orientation"  value="default" />
  <!--<preference name="orientation"  value="portrait" />
  <preference  name="orientation"  value ="landscape" /> -->
  <preference name ="target-device" value ="universal" />
  <preference name ="fullscreen" value ="true" />
  <preference name ="android-installLocation" value ="auto" />
  <preference name ="permissions" value ="INTERNET" />
  
  <!--plugins-->
  <!-- core plugins-->
  <plugin name="cordova-plugin-device" spec="~1.1.4"/>
  <plugin name="cordova-plugin-vibration" spec="~2.1.3"/>
  <plugin name="cordova-plugin-dialogs" spec="~1.3.1"/>
  
  <!--<plugin name="cordova-plugin-inappbrowser" spec="~1.7.0"/>-->
  
  <!-- <plugin name="cordova-plugin-geolocation" source="npm"/>-->
      <!--Third part plugins-->
	  
	  <!-- para accesar a paginas en internet-->
	  <allow-intent href="https://*/*"/>
	  <acces origin="https://*/*"/>
	  <allow-intent href="http://*/*"/>
	  <acces origin="http://*/*"/>
	  <plugin name="cordova-plugin-whitelist" source="npm"/>
	  
	  <!-- colocar icono app-->
	  
	  <icon src="res/android/mdpi.png"/>
	  
	  </widget>
